[Unit]
Description=Monitor test process
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin//monitor_test.sh
User=root
StandardOutput=journal
StandardError=journal
