services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.4
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - cluster.name=SpetnickiyDI
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock: -1
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD-SHELL", "curl --silent --fail localhost:9200/_cluster/health || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 10

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.4
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      elasticsearch:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/logs:/var/log/nginx
    command: nginx -g 'daemon off;'

  logstash:
    image: docker.elastic.co/logstash/logstash:9.2.4
    container_name: logstash
    volumes:
      - ./logstash/conf:/usr/share/logstash/pipeline  # Конфиги Logstash
      - ./nginx/logs:/var/log/nginx
    environment:
      - "xpack.monitoring.enabled=false"
    depends_on:
      elasticsearch:
        condition: service_healthy