---
- name: Скачать и распаковать Apache Kafka
  hosts: yc
  vars:
    kafka_version: "3.8.0"
    home_dir: "/home/yc-sa-my-ansible-sa"
    install_dir: "{{ home_dir }}/kafka"
    archive_url: "https://archive.apache.org/dist/kafka/{{ kafka_version }}/kafka_2.13-{{ kafka_version }}.tgz"
    archive_file: "{{ home_dir }}/kafka_2.13-{{ kafka_version }}.tgz"

  tasks:
    - name: Создать директорию для Kafka
      file:
        path: "{{ install_dir }}"
        state: directory
        mode: '0755'

    - name: Скачать архив Kafka
      get_url:
        url: "{{ archive_url }}"
        dest: "{{ archive_file }}"
        mode: '0644'
        force: no

    - name: Распаковать архив
      unarchive:
        src: "{{ archive_file }}"
        dest: "{{ install_dir }}"
        remote_src: yes
        creates: "{{ install_dir }}/kafka_2.13-{{ kafka_version }}"

    - name: Проверить содержимое папки Kafka
      command: ls -l "{{ install_dir }}"
      register: dir_contents
      changed_when: false

    - name: Вывести список файлов
      debug:
        msg: "Распаковано: {{ dir_contents.stdout_lines }}"
