stages:
  - build
  - test

test:
  stage: test
  image: golang:1.17
  script:
    - go test .
  tags:
    - netology
  only:
    changes:
      - "*.go"

build:
  stage: build
  image: docker:latest
  script:
    - docker build .
  tags:
    - netology